[2019-03-10 15:33] Maju3 opened #4 "Foreign GERMAN providers"
Hi.
Can you check the german providers list please?
I use exodus redux and it loads no links when i set openscraper to use german providers.
BTW when i use lambdascrapers all works.
I have notized that in lambdascrapers the list of german providers is completely different.

[2019-03-10 16:12] ChrisKar96 commented on #4
The German providers listed are actually Greek.

[2019-03-10 16:42] Maju3 commented on #4
All right.
Thank you

[2019-03-10 23:52] bjbca opened #6 "settings... torrents"
settings, for toggle torrents on or off still refer to script.module.civitasscrapers

[2019-03-11 00:59] jabaxtor opened #7 "Unresolved reference - Anilist"
The following scrapers all reference the missing module anilist:

Animeloads
Proxer
Foxx
Pureanime

This module will either need to be found or the providers removed

[2019-03-11 15:43] A4K-Official commented on #6
should be fixed in I-A-C's last commit

[2019-03-11 23:54] bjbca commented on #6
Fixed, thank you

[2019-03-11 23:54] #6 closed

[2019-03-12 00:44] bjbca opened #9 "openscrapers settings revert on "ok""
Here is a strange one, for example if i open scraper settings and choose disable all torrent providers it flashes and toggles them all off then i click "ok" and it exits out then when i go back in the torrents are all toggled back on, but if i disable all and then hit cancel to close settings and then go back in my changes will have been saved.... its as if Ok and Cancel are acting in reverse ? im

[2019-03-12 19:37] A4K-Official commented on #9
@I-A-C Think theres an issue with the settings changes you made recently can you check them out please

[2019-03-12 19:37] A4K-Official commented on #7
ok remove it is

[2019-03-12 19:38] A4K-Official commented on #4
@I-A-C PR was merged so should be resolved. Issue closed :)

[2019-03-12 19:38] #4 closed

[2019-03-12 20:28] xxcriticxx opened #11 "dead PL providers"
please remove as the following website are dead and don't exist anymore

[code]

[2019-03-12 21:24] A4K-Official commented on #11
Will do, working on removing dead providers soon and moving them off to different directories, ty for input

[2019-03-12 21:49] xxcriticxx commented on #11
possible replacements:

`https://www.cda.pl/`
`https://plusfilm.pl/`
`http://filmbit.ws/`
`https://serialnet.pl/`
`https://filmowo.co/`
`http://serialosy24.pl/`
`https://allbox.tv/`
`https://kino123.pl/`
`http://filmosy.tv/`
`https://movieneo.com/`
`https://zalukaj.com/`
`https://virpe.com/`

[2019-03-12 23:52] bjbca commented on #9
I dont know how much code has changed since civitas but im sure the problem existed in civitas, and it seems to happen mostly with the torrent section... have to test, maybe its something to do with defaults, the problem didn't happen with the original lambda module that i recall.

[2019-03-13 04:59] A4K-Official commented on #11
Deleted those links just in case but you know we need people who can find websites too. Mind messaging me on keybase? Redditreapercody is my handle

[2019-03-13 11:32] bjbca commented on #9
tested... happens in all sections, in providers section I enable all then in Foreign I disable all, Debrid I enable all, Torrent I disable all, now if I click Ok the program exits and when I go back in none of those settings have been saved, then I go trough the cycle but at the end click cancel, the program exits and when I go back in my changes have been saved, all sections are affected.

[2019-03-13 13:30] I-A-C commented on #9
I can't seem to replicate the situation where settings are not saved when click "Ok"

https://imgur.com/wPpdw6V

[2019-03-13 13:44] bjbca commented on #9
I see, ok, are you in kodi 18.1 and could it have anything to do with the skin ? Im using estuary.

[2019-03-13 13:53] I-A-C commented on #9
I'm using 17.6 with the confluence skin.  I'll take a look with estuary

[2019-03-13 14:18] bjbca commented on #9
They only allow a 30sec vid... that was tough for me : <blockquote class="imgur-embed-pub" lang="en" data-id="a/4MWOmKR"><a href="//imgur.com/4MWOmKR"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

[2019-03-13 14:34] I-A-C commented on #9
That 30sec limit is a pain.

Sure enough, I see what your talking about.  I'll take a closer look later.

[2019-03-13 19:48] A4K-Official commented on #9
@I-A-C thanks man :)

[2019-03-14 09:17] shieshe opened #12 "Furk scarper does not return any values"
I did a fresh install of the latest Exodus Redux. Disabled all other providers except Furk. Set up my login credentials and API key. Tried a search and got the notification that there was no stream found. My search on Furk.net itself returns plenty results. Did a test with the default providers and got back plenty of results. Looks like the Furk scraper is broken. Can you please look into this?

[2019-03-14 20:49] A4K-Official commented on #11
ok fixed on dev branch

[2019-03-14 20:49] #11 closed

[2019-03-14 21:01] A4K-Official commented on #7
@jabaxtor hey found anilist

https://github.com/I-A-C/script.module.exodusredux/tree/master/lib/resources/lib/modules

[2019-03-15 04:33] A4K-Official commented on #12
In the Todo list! Ty for the report

[2019-03-15 16:53] #12 closed

[2019-03-15 19:35] #7 closed

[2019-03-17 21:00] 123Venom commented on #9
I've seen this problem in Civitas under Kodi 18 & 18.1.  I just now tested it with Redux using the open scrapers and did exactly as in the video yet the options were not flipped.  Last time I tried to debug this , in Civitas, I noticed it worked if I used the "Diasable, or Enable,  All Providers" then used the individual category enable options.  I had looked at the code awhile back and thought I

[2019-03-17 21:19] 123Venom commented on #9
I just tested to the little work around I had done with Civitas that seemed to work but not so anymore.  I even tried using "OpenScraper Default Providers" then trying to enable/disable individual categories...still a no go on saving it.  Displays right but hitting "ok" then returning and they're still off.  Seems to be an issue saving them.  I flipped to Estuary skin under 18.1 and it saves and w

[2019-03-23 04:04] A4K-Official commented on #9
Interesting....hmm. I'm having a guy that's good with settings xml take a look so hopefully fixed soon

[2019-03-23 04:04] #9 closed

[2019-03-23 12:42] jewbmx commented on #9
I didnt read all of this but from my exper. with a enable all setting it needs to have the close action completely removed so it stays open. That usually helps, but it is pretty common on my use of it that its glitchy anyways and will save most the time lol.  Yall might be able to work around any ok button issues with this tho if its a problem too..  `
    execute = xbmc.executebuiltin
    execute

[2019-03-24 14:42] bjbca opened #24 "missing provider"
solarmovie.py missing from EN

[2019-03-25 13:00] Tinuz97 opened #25 "ultrahdindir.py (developer branch) still not working"
ultrahdindir.py (i requested on Reddit a fix) is still not giving results back ,i replaced the old ultrahdindir.py with the new one from the developer branch, maybey you can also test this? Thx.

[2019-03-25 21:35] reddit-reaper commented on #25
last i checked it was, will get it looked at thanks. @TheDevFreak can you take a look please

[2019-03-25 22:27] reddit-reaper commented on #25
@Tinuz97 test new one, just updated from Eggs

[2019-03-25 23:05] southpaw99 commented on #25
Ok thanks

[2019-03-25 23:31] Tinuz97 commented on #25
Nope, maybey it is just me, no idea, but also with this eggs ultrahdindir scraper no results (installed the dev branch open meta scraper, in combination with exodus redux)

[2019-03-25 23:36] reddit-reaper commented on #25
will have @TheDevFreak take a look later i reverted for now

[2019-03-25 23:38] Tinuz97 commented on #25
No problem, thx for trying anyway 👍

[2019-03-26 17:32] TheDevFreak commented on #25
Still seems to work for me, do you have a debrid service enabled and linked?

[2019-03-26 17:36] Tinuz97 commented on #25
Yes, every other debrid scraper does work ok here, like rlsbb, invictus, ddlvalley as a few  example, are you testing with exodus redux also?

[2019-03-27 23:28] #24 closed

[2019-04-03 06:34] reddit-reaper commented on #9
Settings issue fixed in latest update

[2019-04-05 11:40] bjbca opened #30 "v 0.0.0.7 cfscrape"
v 0.0.0.7 the updated cfscrape seems to have broken rlsbb, way less premium links with rlsbb not working, i put the cfscrape from v 0.0.0.5 into v 0.0.0.7 and then rlsbb links are scraped and work

[2019-04-06 05:27] A4K-Official commented on #30
Rlsbb shouldn't even be using it afaik but will check. There's a newer one now so we'll be updating again

[2019-04-06 20:23] broknsymetry commented on #30
Also, cfscrape v1.9.7 opens a console window on Windows 10 for nodejs/node.exe for each scraper that includes the module.  Not really a bug, but it is annoying and may confuse/distress some users.

[2019-04-08 19:03] reddit-reaper commented on #30
oh....dammit ok thanks i didnt see that happen on my end

[2019-04-08 19:40] reddit-reaper commented on #30
@broknsymetry  try with latest version, just pushed out

[2019-04-08 20:24] broknsymetry commented on #30
0.0.0.8 no more pop up console windows. 😄

[2019-04-08 22:23] doko-desuka commented on #30
@reddit-reaper hi, where did you find that updated cfscrape?

[2019-04-08 23:39] bjbca commented on #30
Working here, thank you ;)

[2019-04-09 02:47] #30 closed

[2019-04-09 02:50] reddit-reaper commented on #30
In Yoda's script modules folder. Was trying to find a more updated one that worked but this was a quick fix, will most likely be adjusted soon enough

[2019-04-09 11:09] doko-desuka commented on #30
Okay, thanks.

[2019-04-16 05:26] mgonzales71 opened #32 "this repo trying to hijack or inject malicious code?"
https://github.com/nusch/nusch-repo/tree/master/script.module.openscrapers

version numbers are 9.x.x.x

seems kinda shady, I don't have a reddit account but maybe someone that does can post warning on addons4kodi (people should have auto updates off anyway)

[2019-04-18 05:09] reddit-reaper commented on #32
as long as no one installs that bs repo its fine, people should know better

[2019-04-28 02:47] #32 closed

[2019-04-28 03:57] reddit-reaper commented on #25
updated to a newer one, tested and working on my end

[2019-04-28 03:57] #25 closed

[2019-04-28 17:17] bjbca opened #36 "anilist.py"
should anilist.py have this changed:
from resources.lib.modules import
to this:
from openscrapers.modules import

[2019-04-28 17:23] A4K-Official commented on #36
Yes crap i thought i fixed all of those will go through now to make sure

[2019-04-28 17:36] reddit-reaper commented on #36
Fixed in
https://github.com/a4k-openproject/script.module.openscrapers/pull/37

[2019-04-28 17:36] #36 closed

[2019-04-30 15:58] host505 opened #40 "Torrent scraping broke after c06e458"
https://github.com/a4k-openproject/script.module.openscrapers/commit/c06e4586238a06eefe357745c30b47d7a39f3794
What is this `debrid.tor_enabled()` suppose to check? It breaks torrent scraping on my add-on, and exodus redux as well.
Removing [this check](https://github.com/a4k-openproject/script.module.openscrapers/blob/c06e4586238a06eefe357745c30b47d7a39f3794/lib/openscrapers/sources_openscrapers/e

[2019-04-30 16:11] A4K-Official commented on #40
it checks resolve URL to make sure you have the torrent option enabled. before they would just work regardless which isnt how it should work. all newer torrent scrapers are working like that now

[2019-04-30 16:12] A4K-Official commented on #40
and crap will fix the indentation issue sorry about that

[2019-04-30 16:16] host505 commented on #40
Well it doesn't work (regardless of the indentation issue), I don't see how the resolveurl setting is connected to that check.

[2019-04-30 16:59] A4K-Official commented on #40
ehhh also just realized my bad, i forgot to update the debrid.py thats why it wasnt working sigh will fix

[2019-04-30 16:59] host505 commented on #40
The reason that the video add-on's (eg Exodus redux's) torrent.enabled setting doesn't work with openscrapers is because your scrapers import openscrapers's debrid.py, which imports your control.py, which points to openscrapers's settings, and there doesn't exist a torrent.enabled setting.

[2019-04-30 17:11] A4K-Official commented on #40
thanks. fixing all issues presented

[2019-04-30 17:12] A4K-Official commented on #40
and you were correct i was wrong that it did not check with resolveURLs setting....sigh misunderstood

[2019-04-30 17:17] A4K-Official commented on #40
ok just pushed a new build to dev branch. mind testing and letting me know if its working for you now

[2019-04-30 18:10] host505 commented on #40
Just tested on my phone, still won't work - you have to fix that tabs on the scrapers as well :)
 (afk right now so can't test thoroughly).
Also you might have to adjust line 43 to something like `if enabled == '' or enabled.lower() == 'true': return True`, so that it works ootb (since it's default true).

[2019-04-30 18:12] A4K-Official commented on #40
im actually saying fuck it im changing it to work normally lol theres literally no need for that option now that i think about it so im removing that line from all torrent scrapers, debrid check only should be fine and will fix indent errors

[2019-04-30 18:16] host505 commented on #40
I'll agree to that, since you also have enable/disable all torrent scrapers.
But still the setting on Exodus resux eg won't work with openscrapers (I don't have that setting on my add-on).

[2019-04-30 18:16] A4K-Official commented on #40
yeah exodus redux needs a few updates

[2019-05-01 05:32] nazegnl commented on #40
I suggest you start using an IDE to prevent these issues in the future. I use PyCharm CE it'll help you maintain an consistent coding style aswell.

[2019-05-01 05:45] A4K-Official commented on #40
@nazegnl yup im doing that now funnily enough.....question, spoke to another dev and he said the changes im wondering if i should push are fine but in PyCharm you can refactor code to fix a bunch of stuff like indents and imports formatting etc. it changes quite a few things up in....well pretty much everything lol wondering if i should push it or not though. And dammit man im still waiting for yo

[2019-05-01 16:14] A4K-Official commented on #40
Well haven't pushed yet but got pretty much everything fixed along with some other things that Venom found that made some Torrent scrapers not work and missing modules etc. Thanks for all the help everyone :)

[2019-05-01 19:47] nazegnl commented on #40
@A4K-Official If you make an PR we can have a look before you are merging.

[2019-05-01 20:59] A4K-Official commented on #40
awesome thanks will do :)

[2019-05-01 22:47] A4K-Official commented on #40
Fixed in e78899f74b73c6a86b2894d1c442e7944ab12e7a

[2019-05-01 22:47] #40 closed

[2019-05-02 02:38] A4K-Official opened #44 "Skytorrent issue"
@host505 try latest dev or test-reformat branch. skytorrent is working for me just fine on both

[2019-05-02 02:50] A4K-Official commented on #44
found another issue, missing setting lol trying to make OpenScrapers self contained has its disadvantages but whatever its getting close :)

[2019-05-02 23:50] host505 commented on #44
Damn, still causes issues here, but on certain titles, eg Glass (2019), can you try it?
Log says something about beautifulsoup4 when that happens, and that's strange because this scraper doesn't use bs4.
[code]

[2019-05-03 03:10] A4K-Official commented on #44
thats from pubfilmonline already know about it

[2019-05-03 04:23] A4K-Official commented on #44
i left disabled in settings for the time being until its fixed

[2019-05-03 04:23] #44 closed

[2019-05-03 05:30] host505 commented on #44
Well then the log error is unrelated, because it still happens with pubfilmonline disabled.
Might just be me, but happens on 3 systems (win10, android, coreelec).

[2019-05-03 05:53] A4K-Official commented on #44
will look into :)

[2019-05-03 17:08] A4K-Official opened #55 "CSV Export Seperator"
Hey @nazegnl just merged your PR and tested scrape test, all CSV outputs are using ; instead of , so i i have to go into all files and change ; to , lol can you please look at it again?

[2019-05-03 17:09] A4K-Official opened #56 "PubFilmOnline"
PubfilmOnline gives this error

UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 56 of the file C:\Users\Grim\

[2019-05-03 17:11] A4K-Official opened #57 "Scrape Test Request & Issues"
Skip scrapers that require login like GoStream, Furk, etc

@nazegnl

[2019-05-03 17:18] A4K-Official commented on #57
also running this command

scrape-test.py folders=en_Torrent test_type=1 test_mode=movie timeout_mode=false number_of_tests=50

doesnt check the folder listed, it is instead testing en and en_debridonly folders so its ignoring the argument

[2019-05-03 20:19] A4K-Official commented on #55
fixed in https://github.com/a4k-openproject/script.module.openscrapers/commit/f7dff75e28abeafdebd710875ad6e61d0f0c8ad0

[2019-05-03 20:19] #55 closed

[2019-05-03 20:20] A4K-Official commented on #57
@nazegnl looks like somehow the headers in the CSV Export for everything after RUNTIME are gone. Just letting you know

[2019-05-03 20:40] A4K-Official commented on #56
fixed in https://github.com/a4k-openproject/script.module.openscrapers/commit/b3911a0ebe8b35a6ca275dfee7c4b6724be72975

[2019-05-03 20:41] #56 closed

[2019-05-03 20:44] nazegnl commented on #57
@A4K-Official I will check the tester tomorrow :)

[2019-05-03 20:51] A4K-Official commented on #57
all good youve done alot so far :) so far i just notice that scrape_test is ignoring my command arguments lol like all of them unless you changed how theyre passed? anyways ill be patient :)

[2019-05-04 09:11] nazegnl commented on #57
Checked the scraper-test.py and with me everything is working.

For scrapers that do need login we could create a local setting file where you can store your private credentials.

[2019-05-04 13:13] bjbca opened #62 "vidics & xwatchseries"
just curious why vidics and xwatchseries are not being used because im getting a lot of links with them for episodes ?

[2019-05-04 19:11] nazegnl commented on #62
Vidics was working for me the xwatchseries is not. Do you know what version of the scraper library you are refering to?

[2019-05-04 21:11] A4K-Official commented on #57
that works^

[2019-05-04 21:56] bjbca commented on #62
when i get home i will try upload them for you

[2019-05-04 22:02] nazegnl commented on #62
Thanks, Will have a look then.

[2019-05-04 22:10] host505 commented on #62
xwatchseries still exists on master branch (https://github.com/a4k-openproject/script.module.openscrapers/blob/master/lib/openscrapers/sources_openscrapers/en/to_be_fixed/no_sources/xwatchseries.py), but @nazegnl why did you delete it on your last pr?
Working here too btw

[2019-05-04 22:24] bjbca commented on #62
Lets see if this works.

[vidics.xwatch.test.zip](https://github.com/a4k-openproject/script.module.openscrapers/files/3144902/vidics.xwatch.test.zip)

[2019-05-05 10:30] nazegnl commented on #62
Readded both the scrapers again xwatschseries is giving for me with the scrape-test.py no results.

[2019-05-05 13:04] bjbca commented on #62
Hmmm, I assume that whichever addon you use, you always clear provider cache after making a provider change, sometimes resetting function cache in resolveurl helps, or there is a flaw to scrapetest, heve you tried the scrapers "real world", for example, search for ray donovan season 5 Abby.

[2019-05-05 13:10] bjbca commented on #62
Sorry i think i miss-understood.

[2019-05-05 15:04] #62 closed

[2019-05-05 22:36] A4K-Official opened #65 "Series9"
@nazegnl
Series9 giving me this error on latest dev branch

Traceback (most recent call last):
  File "C:\Users\*\Documents\GitHub\script.module.openscrapers\lib\openscrapers\sources_openscrapers\en\series9.py", line 111, in sources
    url = self.searchMovie(data['title'], data['year'])
  File "C:\Users\*\Documents\GitHub\script.module.openscrapers\lib\openscrapers\sources_openscrapers\en\series9

[2019-05-05 22:41] A4K-Official commented on #57
are you running scraper test with arguments though or just straight? as none of my arguments i enter are testing correctly and now all scraper folders are being tested even when i only state en & en_DebridOnly

[2019-05-06 00:17] bjbca commented on #65
No problem with series9 here, but my log cleared right up after removing:
cartoonwire
filmrls
library
moviesonline
primewire
watchfree1
guess i should have kept the log to show the errors....

[2019-05-06 05:31] nazegnl commented on #65
@A4K-Official was focussing on episodes when testing the series9 one will have a look. Seems that it gets empty result from the API call.

[2019-05-06 05:34] nazegnl commented on #57
If there is nothing supplies it will test all folders. When you supply folder names you need to separate them with a comma. I use the example of the read.me file and is working for me.

[2019-05-06 05:36] A4K-Official commented on #57
Do you use PC? I've tried both through my batch file and through cmd and neither are working anymore not sure why :-\

[2019-05-06 05:38] nazegnl commented on #57
Yes, Windows PC will try you batch file later today.

[2019-05-06 11:51] bjbca commented on #65
I was getting constant log error "best-moviez.ws - href:" so i removed bestmoviez, and still the error then i found code reference to best-moviez.ws - href: in
rlslog.py
movieswbb.py
so i removed them and all good now.

[2019-05-06 11:57] nazegnl commented on #65
Can you please post the error then I will have a look :)

[2019-05-06 12:03] bjbca commented on #65
This is it:
[2019-05-06 05:33:20] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: best-moviez.ws - href:
[]
[2019-05-06 05:33:21] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: best-moviez.ws - href:
[]
[2019-05-06 05:33:21] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: best-moviez.ws - href:
[]
[2019-05-06 05:33:22] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: best-moviez.ws - href:
[]
[2019-05-06 05:33:22] [C

[2019-05-06 13:55] nazegnl commented on #65
Those are debug logs, you zee that href is empty so it could not find anything. Just removed these debug log lines from the scrapers.

[2019-05-06 14:06] nazegnl commented on #65
@A4K-Official and @bjbca I created discord room for the OpenScrapers.
https://discord.gg/sfDuQh

[2019-05-07 02:04] bjbca commented on #65
Ok, sorry these post are getting off topic, just thought i would share this log for interest sake while we are at it, then im done, note i do have captchas dissabled, the log has been edited to hide my macs info etc.
[2019-05-06 19:41:10] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: Request-Error (403): http://watchfree1.com/search-movies/ray+donovan+season+5.html
[2019-05-06 19:41:10] [COLOR red][

[2019-05-13 20:02] bugatsinho opened #71 "[Suggestion]Adding Headers on requests"
As title says, please add headers on the requests of cfscrape  to hide kodi headers.
In the case of client.request(url) headers are created inside the request function of client module so for example you dont need to set User-Agent in headers, but on normal requests and cfscrape requests you need to set User-Agent and possibly the baseurl as referer of the scraper to hide that way requests from ko

[2019-05-13 20:22] nazegnl commented on #71
Hi, the cfscrape class is setting headers on the request from a random set of predefined headers. So manually overwriting it is not necessary. I will add more headers to choose from so that it appears more random. About the referer it has no significant higher successrate in solving the js challenge.

[2019-05-14 02:27] jewbmx commented on #71
Anorov just started updating his cfscrape again and has a nice useragent setup on it. My test showed it only worked on half the scrapers tho lol

[2019-05-14 03:25] bugatsinho commented on #71
probably both  you missed my point.im not speaking about cfscrape requests I'm speaking in general for the requests...I'm not telling you how to solve the cf challenges.

[2019-05-14 03:55] nazegnl commented on #71
I get your point, and agree with you that we need to mimic the the way the requests are made so we have don't stand out in the crowd. But cfscrape and the client implementation both have logic for random user agent selecting so only the referer could be something we need to add. But hen again there are more request headers we are lacking if we only implement referer for example.

[2019-05-14 03:57] nazegnl commented on #71
@jewbmx yes noticed the update yesterday aswell, but it is using nodejs to solve the js challenge and therefore making it more difficult to be used in OpenScrapers as people need to install the dependency manually before they can start running the solution.

[2019-05-14 13:43] bugatsinho commented on #71
ok guys thank you!
also this issue can be closed

[2019-05-14 19:17] #71 closed

[2019-05-14 19:17] #57 closed

[2019-05-14 19:17] #65 closed

[2019-06-13 17:49] bjgood opened #72 "Vidics is down"
Hi,
Just wanted to pass along that vidics is down. Could someone take a look at it?

Thanks.

[2019-06-13 17:52] A4K-Official commented on #72
yup i know. im working on a final update to OpenScrapers v1 and should have it out by latest this weekend. v2 will be a massive change to a much more modern scraper system where scrapers arent 200+ lines anymore :) but that will be a bit as its a lot of work converting all old scrapers

[2019-06-13 18:00] 123Venom commented on #72
I keep vidics disabled because it's problematic and cause lockups and bogs down the scrape.  It's not even a good source...throw it in the trash..lol

[2019-06-13 22:01] bjgood commented on #72
Yeah, I know that vidics sucks big time but it's good for older, obscure series like Poirot, or Miss Marple, which the wife and I like to watch.

Version 2 sounds interesting. Looking forward to how you approach it.

[2019-06-14 04:25] 123Venom commented on #72
Well the good news is I tested the dev branch, that I believe was pushed moments ago, and vidics now seems to no longer lock up the scrape process but I also onlyu tested a couple shows and could not return a source.  Hopefully your show works out for you

[2019-06-14 11:59] bjgood commented on #72
Yes, I tested the dev branch as well, but it doesn't seem to work at all. It returns no results.

[2019-06-14 14:32] A4K-Official commented on #72
from my tests, vidics isnt working in any addon atm as theyre all pretty much the same scraper. So might have to wait for v2

[2019-06-14 16:37] bjgood commented on #72
Thanks, A4K-Official, for the update. It's much appreciated.

I'll close this issue and wait for version 2.

Again, thanks.

[2019-06-14 16:37] #72 closed

[2019-06-14 16:42] A4K-Official commented on #72
well good news the main dev is taking a look at vidics before i drop this last v1 update

[2019-06-14 19:08] A4K-Official commented on #72
nvm looks like they added captchas so not much we can do for now. gonna be removed from the next update

[2019-06-14 21:08] bjgood commented on #72
yes, vidics has added a captcha before you can see the links to an episode. That sucks. About all you can do is monitor the site and see if they change their minds and drop it.

Very bright coders here. You've got a good thing going.

Thank you.

[2019-06-14 21:13] A4K-Official commented on #72
ehhhh we have some ideas lol but definitely not until v2. If you know of any other sites that provide links like that email me at redditreaper@protonmail.com

[2019-06-27 17:32] twisted-fire-starter opened #80 "the way to add openscrapers to a addon"
hi i am having real trouble getting this to work i followed each step 4 times now and im still getting the same issue if you have a telegram group can you send me a invite please so maybe someone can help me get it to work please.

[2019-07-03 05:59] reddit-reaper commented on #80
sorry about that been a bit busy. you know those instructions may be out of date will double check them to make sure. check back later tomorrow

[2019-07-05 14:31] reddit-reaper commented on #80
i slightly updated the instructions but they seem to be good. Dont have a telegram group but you can reach me there at @jcpm90

[2019-07-05 14:31] #80 closed

[2019-07-09 04:25] twisted-fire-starter commented on #80
where is that i can find you at please pal ??

[2019-07-09 05:34] twisted-fire-starter commented on #80
i have sorted it budy thank you so much

[2019-07-09 14:24] twisted-fire-starter opened #85 "how to i add some scrapers from a addon"
as title mentions i would like to be able to add some scrapers to openscrapers they are from a addon i have and i have tested to make sure they work and i have chacked to see if there is any duplicates and i have removed the duplicates as well

[2019-07-09 15:11] drinfernoo commented on #85
If you'd like to contribute, you can open a PR with the proposed scrapers added.

[2019-07-09 21:33] reddit-reaper commented on #85
yup just send a PR to dev branch and i will review and add @twisted-fire-starter

[2019-07-09 21:34] reddit-reaper commented on #85
btw you can reach me on telegram, my username is @jcpm90

[2019-08-02 15:05] DevTeamLast01 opened #86 "no result "https://movietown.org" branch "develop""
url: https://movietown.org

use: "develop" Kodi on Firetvstick
The module "cfscrap.py" from branch "develop" does **NOT** return a result.

use: "develop" Kodi on windows
The module "cfscrap.py" from branch "develop" does return a result.

use: "master"
The same module "cfscrap.py" from branch "master" does return in Kodi a result on FireTvSick and on Windows

Sorry for the short text - my english

[2019-08-09 17:03] reddit-reaper commented on #86
sorry for the late reply will check

[2019-08-09 17:08] reddit-reaper commented on #86
so the cfscrape module in develop should as it still passes all cloudflare tests. the only one that can not be gotten around is the google recaptcha one

[2019-08-10 19:55] pepe25a opened #87 "1.91 -> 1.93 ?"
I don't understand the version 1.93 is available on openscrappers repo but not here ?

https://github.com/a4k-openproject/repository.openscrapers/tree/master/zips/script.module.openscrapers.

Thank for this addons :-)

[2019-08-10 19:57] pepe25a commented on #87
sorry i don't view the develop branch

[2019-08-10 19:57] #87 closed

[2019-08-19 17:27] A4K-Official commented on #86
@DevTeamLast01 if you would like to reach me you can message me on telegram at @jcpm90

[2019-08-25 07:02] #85 closed

[2019-08-25 07:02] #86 closed

[2019-09-10 15:24] pewkodi opened #92 "Digbt.py Crashes Dialog Box with Results"
I am having an issues with  digbt.py causing the dialog window to not show other links. I have tested it with a working one and that one only available in the folder and it will prevent the dialog box from coming up. if I comment out the self variables it will work correctly(with no links from digbt). I noticed it was a cf based and are always hard to fix at times.  I just wanted to see if you can

[2019-09-22 15:50] bjbca opened #93 "v.195, 2ddl and rapidmoviez"
2ddl giving this error: http://2ddl.vg/ returned an error. Could not collect tokens.

and rapidmoviez requires "from openscrapers.modules import dom_parser2" but dom_parser2.py is not in modules, i was able to add my own dom_parser2 but i thought i would let you know.

[2019-09-24 18:04] reddit-reaper commented on #93
ty for the report. idk how i missed that. fixing

[2019-09-30 17:34] reddit-reaper commented on #93
ok should be fixed in the latest github push on the develop branch

[2019-09-30 17:40] reddit-reaper commented on #92
i havent seen any changes for that scraper in the wild but i have updated cfscrape on develop branch. give it a run and see if it works better for you now. remember to always reset settings to default and clear providers in your addon of choice before testing

[2019-09-30 19:32] #93 closed

[2019-09-30 19:32] #92 closed

[2019-10-01 13:19] bjbca opened #94 "user_agents.py"
v196 seem to be having trouble with user agents py, may just be me, had to revert to last cfscrape etc as scrapers cant load user_agents.py

[2019-10-02 00:25] bjbca commented on #94
i think i found it here
https://github.com/a4k-openproject/a4kScrapers/blob/master/providerModules/a4kScrapers/third_party/user_agents.py

[2019-10-02 13:24] reddit-reaper commented on #94
you are correct, file mustve downloaded wrong when i grabbed it. thanks will fix

[2019-10-02 13:24] #94 closed

[2019-10-03 21:30] bjbca opened #96 "v197 en onlineseries"
Sorry, I forgot to mention, that there is a copy of onlineseries in en that still calls for dom_parser2, the one in en_debrid_only is proper and i guess the one in en should be removed.
  And just a thank you for creating and maintaining openscrapers ;)

[2019-10-04 06:03] reddit-reaper commented on #96
Ugh wtf lol i did a search and i didn't see that lol will fix when i get up

[2019-10-04 06:03] reddit-reaper commented on #96
And thanks for finding issues :)

[2019-10-04 13:06] shelloverride opened #97 "German modules partially broken and incomplete"
HD-Streams.org and probably the rest does not give 1080p results and i also think the lower resolutions come from different pages.
In general i think they are largely outdated and we would also benefit from modules for:
[code]

[2019-10-08 12:09] bjbca opened #98 "v197 xwatchseries"
is xwatchseries broken

[2019-10-08 13:12] bjbca commented on #98
sorry its looking like it was me

[2019-10-08 13:33] Stimmenhotel opened #99 "problems with many german scraper sites"
Really many german scraper seems to be broken.
I used venom with only the foreign scrapers and set to german indexers within venom.

right now I have only found sources at iload, ddl(.me?) and streamto.
I know the searched series is at least at serienstream (s.to), freikino, hdfilme, kinox.to.

Could someone look into this?

Or anyone has a "easy" guide for making scrapers, than I could try it mys

[2019-10-09 01:45] #98 closed

[2019-10-16 06:28] 3lementX commented on #99
discreet push

Would be great if the German providers will work!

[2019-11-21 16:39] #96 closed

[2019-11-21 16:39] #97 closed

[2019-11-21 16:40] #99 closed

[2019-11-22 05:10] bjbca opened #103 "re v199"
Awesome job ! thanx to all involved, thumbs up to the new additions in the credits ;)

[2019-11-29 20:23] f2ca1bb6 opened #104 "Error:Loading module: provider | No module named xbmc"
happens when running `scrape-test.py`.

minimal setup to reproduce:

[code]

[2019-12-02 22:30] reddit-reaper commented on #104
yeah known issue, only way to bypass is to import mock_kodi to avoid import issues into your python environment to avoid issues. i haven't fixed it yet so it can do that though

[2019-12-02 22:31] reddit-reaper commented on #104
we'll also be changing our scraper package soon to v2 so i would just wait on that

[2019-12-03 21:53] #103 closed

[2020-01-02 16:25] Tikipeter opened #107 "Control module does not access Openscrapers settings."
Hi there.
I've written an Easynews scraper for Openscrapers, but there is a problem with the control.py file that should be used to access the settings of openscrapers.

The 'addon' variable (accessing xbmcaddon.Addon) needs to explicitly state the openscrapers id as it's 'id' arg...
`addon = xbmcaddon.Addon(id='script.module.openscrapers')`
at the moment it is like this...
`addon = xbmcaddon.Addo

[2020-01-02 18:37] reddit-reaper commented on #107
yeah go ahead i appreciate any PRs :) scraper-test is broken right now anyways since i have yet to figure out a way to ignore the kodi specific modules that are in some scrapers lol

[2020-01-06 21:18] Tikipeter commented on #107
The following pull request from sraedler fixes this issue. They got to it before I could. :)
https://github.com/a4k-openproject/script.module.openscrapers/pull/108

[2020-01-06 21:18] #107 closed

[2020-01-07 00:36] bjbca opened #110 "myvideolink"
myvideolink may be broken, is anyone else getting errors from it ? thnx

[2020-01-07 01:00] drinfernoo commented on #110
What kind of errors? Have you looked at your log?

[2020-01-07 01:32] bjbca commented on #110
It seems to slow things down and openscrapers seems to run better with it dissabled.
Here is some log data:
[2019-12-30 12:46:38] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: Request-Error: (<urlopen error [Errno 8] nodename nor servname provided, or not known>) => http://search.myvideolinks.net/?s=Riviera%20S02E04
[2019-12-30 13:06:17] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: Request-Error: (<url

[2020-01-07 02:55] 123Venom commented on #110
looks like the url changed again on that SOB. http://myvideolinks.69.mu/?s=Ray+Donovan+S06E02

[2020-01-07 02:58] 123Venom commented on #110
Prob some perv believing he needed "69" in the url..lol.  I'll see if I can fix it and pr for reaper...I do hate that site though cause it's just going to go down again cause of this same issue.  I prob fixed that fucker 3 times

[2020-01-07 03:08] 123Venom commented on #110
http://myvideolinks.net/ only the first one is working in that list of the 3

[2020-01-07 03:18] 123Venom commented on #110
I got it back to working...not a gem that's for sure.  Prob be dead again in another week or two

[2020-01-07 03:41] bjbca commented on #110
I've got rid of it, there are lots of other good ones working in debrid, thnx for confirmation.

[2020-01-07 03:42] #110 closed

[2020-01-09 17:26] #104 closed

[2020-01-19 09:14] cgcgcgcgcg opened #117 "Free provider ALLUCXYZ must be disabled for Open Scrapers to work."
Multiple friends using addons with Open Scrapers had issues, disabling ALLUCXYZ fixed the issue.

[2020-01-19 18:27] cgcgcgcgcg commented on #117
Open Scrapers was updated and ALLUCXYZ was removed, thank you.

[2020-01-19 18:27] #117 closed

[2020-02-02 11:29] DWH-WFC opened #118 "Hello from Germany"
The german (de) scraper are almost all broken and should be revised.

[2020-02-13 20:52] reddit-reaper commented on #118
@Tikipeter you think this is something up your alley? foreign hosters could really use some love

[2020-02-14 10:06] Tikipeter commented on #118
@reddit-reaper

I'm hoping to get to foreign eventually but unfortunately I've not got the skill set to fix scrapers so it's a hard slog for me. I've got some 'free' scrapers fixed ready for a PR. So hopefully foreign can be looked into soon. I'll start with the German ones when that's the case.

[2020-03-16 03:47] 123Venom opened #126 "Proposal for next update"
I'm thinking next update to add the hash to our torrent sources dict.  Would make things a little easier for devs doing torrent cached/uncached checking, and or removal.

[2020-03-16 14:27] jjred1977 commented on #126
Speaking as an end user, I can only see this being beneficial to everybody
if you decide to implement it.

Thanks,

James J. Beuerlein

On Sun, Mar 15, 2020 at 10:47 PM 123Venom <notifications@github.com> wrote:

[2020-03-17 23:54] bjbca opened #127 "re v1.106 Some scrapers not working"
v1.106
I dont use many free scrapers, i do use most debrid scrapers, of the scrapers i use i have had these issues, P.S. Thank you for all your efforts, im just trying to contribute:
[2020-03-17 05:37:04] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: Error: Loading module: "projectfreetv": cannot import name cfScraper[2020-03-17 05:37:06] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: Request-Error (500)

[2020-03-19 05:34] 123Venom commented on #127
`cannot import name cfScraper`
That jumped out at me because note the cap S, which was a modification Tikipete did that we never incorporated for now.  Not sure how you end up with that.  When I was testing Tikipete's mod it was later decided we'd hold off for now on incorporating the change so I reverted the changes to the scrapers I was working on only for debrid and torrents..didn't bother with

[2020-03-19 11:10] bjbca commented on #127
👍 Ok, looks like i have some digging to do, thnx, great catch :)

[2020-03-19 23:23] #127 closed

[2020-04-04 13:35] RickFromTexas opened #129 "Venom displaying episode names instead of show titles in TV Shows/Calendar"
Seems to be displaying episode title rather than the name of the show. For example, Gold Rush: Parker's Trail show displayed as Hell's Crack: https://imgur.com/a/KN5rqjj

[2020-04-04 13:47] drinfernoo commented on #129
That would be a Venom issue.

[2020-04-04 13:48] #129 closed

[2020-04-04 13:56] RickFromTexas commented on #129
________________________________
From: drinfernoo <notifications@github.com>
Sent: Saturday, April 4, 2020 6:48 AM
To: a4k-openproject/script.module.openscrapers <script.module.openscrapers@noreply.github.com>
Cc: RickFromTexas <rfague@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [a4k-openproject/script.module.openscrapers] Venom displaying episode names instead of show titles in

[2020-04-04 13:56] RickFromTexas commented on #129
My bad, thought I was on Venom's git.
________________________________
From: drinfernoo <notifications@github.com>
Sent: Saturday, April 4, 2020 6:48 AM
To: a4k-openproject/script.module.openscrapers <script.module.openscrapers@noreply.github.com>
Cc: RickFromTexas <rfague@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [a4k-openproject/script.module.openscrapers] Venom displaying ep

[2020-04-07 15:29] 123Venom commented on #126
Currently working on next update and should have it finished up this coming weekend. cfscrape will be updated to v1.2.32(latest).  For all devs...torrents will now have `hash`, `seeders`, `name` added to sources dict.  The name is basically the `&dn=?` portion of the magnet link.  I now use this in Venom as a setting option vs. standard `Info` most exo forks use.

[2020-04-12 17:31] #126 closed

[2020-04-22 15:48] marson53 opened #131 "OpenScrapers v 0.0.1.109"
Thanks for the update , was this update to fix  the cloudflare , cfscrape error , for me I'm still not getting any rlsbb links for some reason.

[2020-04-22 16:59] 123Venom commented on #131
Looks like Venomous pushed a cfscrape update 6hrs ago and I gave that update package to reaper yesterday so it's not included obviously.  I also can confirm rlsbb is down and will have a look at it to get it back.  I'll try to get another update out for this fix by weekend.

[2020-04-22 17:13] 123Venom commented on #131
well that was allot quicker and easier than I expected.  I updated OpenScrapers cfscrape to current v1.2.34 and rlsbb is back...was all in cfscrape and no scraper changes needed.  I'll get this over to reaper.  Might even cure some other oddities I've seen with some torrents throwing random bogus `Loop Protection` errors one minute and gone the next.

[2020-04-22 17:28] 123Venom commented on #131
update pushed so closing

[2020-04-22 17:28] #131 closed

[2020-04-22 17:46] marson53 commented on #131
Thanks  for the update, works great , also got back a lot of my torrents working again , with being in the UK I have to use a lot of proxies for torrents and openscapers is the only I can get them to work with unblockit.one On 22 Apr 2020 6:13 p.m., 123Venom <notifications@github.com> wrote:
well that was allot quicker and easier than I expected.  I updated OpenScrapers cfscrape to current v1.2.34

[2020-05-14 16:58] chataigne73 opened #134 "OpenSSL error with cfscrape"
Hello. Using openscrapers on Kodi 18.6 under windows 10.

When trying to scrape french yggtorrent website I get this error :

DEPRECATION: The OpenSSL being used by this python install (OpenSSL 1.0.2j  26 Sep 2016) does not meet the minimum supported version (>= OpenSSL 1.1.1) in order to support TLS 1.3 required by Cloudflare, You may encounter an unexpected reCaptcha or cloudflare 1020 blocks

A

[2020-05-16 06:44] SNAPflix opened #135 "The primewire scraper could benefit from an update"
Hi!
I think it would be wonderful if you could took a look at the **primewire** scraper and updated it.

Right now it scrapes https://www.primewire.ac/ which is DOWN (522 error) and https://primewire.ink/ which seems to be a clone... If I'm not mistaken..?

Instead please update it to scrape https://www.primewire.li/ or https://www.primewire.ag/ which seems to be updated **EVERY** day.
Thanks in a

[2020-05-17 06:46] 123Venom commented on #135
First the url we scrape is `primewire.ink`, not `.ac`.  Just because it's in that domain list does not mean it's the url used to scrape....that's the  `self.base_link` you want to look at.  I just scraped Joker and Fantasy Island and both returned links from Primewire.

<img width="400" alt="primewire" src="https://user-images.githubusercontent.com/46383815/82137729-910d5b80-97e8-11ea-98fb-dbb6757

[2020-05-17 06:49] 123Venom commented on #135
Make sure the title you are searching does in fact exist on their site.  If it does and still nothing returned let me know the title and I'll test it.  I had some issues with the new movie `Scoob!` tonight due to that exclamation point being in some titles while not in the links so it failed our the title check.

[2020-05-19 22:27] SNAPflix commented on #135
1.) "Scoob" **is** available on primewire.li...
2.) Comments aren't showing on primewire.ink (Which is also goes down and shows an offline page every now and then) While commenting is working and being used on primewire.li...

A screenshot when searching for scoob on primewire.ink
![primewire ink 503 error for scoob search  at 2020-05-20 00-25-46](https://user-images.githubusercontent.com/10277805

[2020-05-20 03:41] 123Venom commented on #135
I didn't say Scoob was not available on primewire.  I said, " I had some issues with the new movie Scoob! tonight due to that exclamation point being in some titles while not in the links so it failed our the title check". I was meaning in torrents that I maintain and have now fixed.  I was meaning to say if you were searching for that title it could be that same issue I experienced elsewhere.

Th

[2020-05-20 05:10] SNAPflix commented on #135
All I can say then is **THANKS** for taking your time to look into this. I'll wait and hope for what the future has to offer regarding this matter... :wink:

[2020-05-22 17:55] 123Venom commented on #135
Wish I had better news for you.  I did look into this site a bit more.  I use Firefox's Inspector to review site code for scrapping. Just looking at one link the Inspector shows me this
```<a href="/links/go/E-wMJ" class="propper-link popper" link_version="1" rel="nofollow" target="_blank" onclick="trackOutboundLink('vev.io');" key="E-wMJ">Direct</a>```
but if you right click and use `view page so

[2020-06-03 08:59] kasi45 opened #137 "New function "get_titles_for_search()" for "source_utils.py""
Please transfer the following function "get_titles_for_search()" to the "source_utils.py

[code]
This function simplifies the writing of scrapres.
It creates a list from the transferred values in which there are no more duplicates.

as an example you see some codelines from a scraper:

old:

[code]
new with  "get_titles_for_search()"

[code]

many thanks

[2020-06-03 12:27] kasi45 opened #138 "Adjust file "default.py" and "addon.xml"
Please excuse my poor English.

Hello,

is there a special reason why in the 'addon.xml' the line
```<extension point="xbmc.python.pluginsource" library="lib/default.py">```
 is not
```<extension point="xbmc.python.script" library="lib/default.py">```
like other script modules?

I changed this for me and also changed the 'default.py' a little bit. The advantage is that after changing the settings,

[2020-06-03 12:33] kasi45 commented on #138
[code]

[2020-06-03 13:47] bjbca commented on #138
he has a point when it comes to settings not being saved when "Ok" button selected, changes are not saved by Ok when openscrapers settings are selected through os cm, the only way they save in is is by escape or back, but if openscrapers settings are selected through an addon for instance venom and then changes made and ok selected then the settings are saved.

[2020-06-03 13:58] kasi45 commented on #138
The changes I suggest fix the problem "Save with OK".
I also had to think a bit longer about how to solve the problem.

[2020-06-03 14:00] kasi45 commented on #138
not only change the file "default.py". also the line in the file "addon.xml".

[2020-06-03 14:51] kasi45 commented on #138
Please excuse me.
I forgot to point out that the ' settings.xml' has to be adjusted as well.

The following example shows the necessary change!

change from

[code]
to

[code]

[2020-06-03 15:37] kasi45 commented on #138
[https://youtu.be/nSgcfXnuThk](url)

[2020-06-03 15:48] 123Venom commented on #138
was just about to comment on how changing that extension point will break all calls with `RunPlugin` and another thing you forgot is all addons out there are already using that so they'd all have to be adjusted.  This gets pushed and devs be screaming , 'wtf broke the settings call`..oh sorry we did that.  As far as the settings being saved...cured with a 200ms sleep state before settings opens ag

[2020-06-03 16:22] kasi45 commented on #138
I am not sure if I have understood them correctly now (translation).
The calls for the openscraper settings in the video addons do not need to be changed.

These are the corresponding lines of code from the "Venom Addon"
[code]

[2020-06-03 16:35] 123Venom commented on #138
right but not what I'm talking about....how is that action called from another addon?

RunPlugin(plugin://script.module.openscrapers

So changing the extension point will break that and all addons using OpenScrapers will have to be updated.

[2020-06-03 16:53] kasi45 commented on #138
They'd be right!

But I did not find this call anywhere in the video addons.
Okay, I didn't look at 'Seren'. ;-)

[2020-06-03 16:54] 123Venom commented on #138
@kasi45
Also try adding

[code]

[2020-06-03 17:43] kasi45 commented on #138
I wasn't online for a moment.
but..:

Before I get lost with errors in the 'PR', I have a few files here to test.

Maybe you will like them too. Just tested them in Venom.

[addon.xml.txt](https://github.com/a4k-openproject/script.module.openscrapers/files/4725144/addon.xml.txt)
[default.py.txt](https://github.com/a4k-openproject/script.module.openscrapers/files/4725145/default.py.txt)
[settings.x

[2020-06-03 18:05] 123Venom commented on #138
again you are changing the extension point to `.script` and for the sake of breaking other addons out there we are simply not going to do this.

[2020-06-03 18:09] 123Venom commented on #138
Seren doesn't use OpenScrapers and no they'd not be right using RunPlugin still

[2020-06-03 18:36] kasi45 commented on #138
these files were only meant for you - so you can test the alternative.
Also for testing with other video addons.
Because I don't know the addons that might still use openscraper

with 'RunPlugin(plugin://script.module.openscrapers' I have to rewrite and test it myself

[2020-06-03 18:49] 123Venom commented on #138
simple...dial in your extension point change to openscrapers...restart kodi.  Go to Venom Settings - Providers - OpenScrapers...never loads!  Because it uses RunPlugin like other exo forks.  We are not changing this and with that said I'm finished on this subject.

[2020-06-06 08:05] kasi45 commented on #138
[code]
Oh, now I get what you meant by "200 ms." I'm very sorry that I understand English so poorly.

Then we could close up here.

Thanks for your time.
Greetings!

[2020-06-07 20:46] Tinuz97 opened #140 "Some scrapers not working in 0.0.2.003"
Like RLSbb, SceneRLS,Zoogle (just to name a few)
If i rollback to the previous version, they are working fine.

If you need a log, guide me.

Maybey you can replicate this issue also?

[2020-06-07 20:50] bjbca commented on #140
Yes i noticed also that the attempt to make the Modules py3 compatible has broke almost all but torrent scrapers

[2020-06-08 09:43] Tinuz97 commented on #140
@Tikipeter , could this issue happened maybey because of the start of the python 3?

[2020-06-08 12:01] 123Venom commented on #140
I'll look into this today but I seriously doubt the import changes Tikipete did has anything to do with it.  I know I pulled about 4-5 free hosters and 2 prem. hosters because they've gone v2 cloudflare challenge and we have no solution to solve that...notice rapidmoviez is gone?  It could be more have gone to this new v2 challenge as I feared that would happen, and more to come.  I'll let ya know

[2020-06-08 12:02] Tinuz97 commented on #140
Thx.
I just use the previous version for now (rlsbb and scenerls working, also zoogle working fine in that one).

[2020-06-08 12:03] 123Venom commented on #140
well actually there is a v2 challenge solve available but Venomous has opted to make it a paid subscription addon....he grew tired of his work being free.  We've been waiting it out to see how ugly this v2 challenge gets.

[2020-06-08 12:05] Tinuz97 commented on #140
Yeah, I did read that indeed (I follow VeNoMouS github also).
But still weird that rlsbb and scenerls, zoogle working fine In the previous openscrapers version, so my guess is that it is not a V2 issue (I'm not a programmer, just using some logic), otherwise it should not work in the previous version I think? Just a thought.

[2020-06-08 12:06] 123Venom commented on #140
That's odd...implies it's not a v2 challenge issue cause going backwards a version wouldn't get around that.

[2020-06-08 12:07] 123Venom commented on #140
ya sounds more like a code mistake....I need to just run some tests on it cause I swear those prem hosters were fine when tested but who knows.

[2020-06-08 12:14] 123Venom commented on #140
ok..guys got me curious so took a work break.  Looks like it is an import error for py3.  Looking into it further but @Tikipeter?

[2020-06-08 08:11:00] [COLOR red][ OPENSCRAPERS DEBUG ][/COLOR]: RLSBB - Exception:
Traceback (most recent call last):
  File "C:\Users\Ken Brown\AppData\Roaming\Kodi\addons\script.module.openscrapers\lib\openscrapers\sources_openscrapers\en_DebridOnly\rlsbb.py", line

[2020-06-08 12:17] Tinuz97 commented on #140
I think you should remove the name (I see your name in the log, or maybey a name from  a work computer).,just a tip 😅

[2020-06-08 12:22] 123Venom commented on #140
ya woopsie..never pays to rush...see I shouldn't have taken a break and made you guys wait till I had time to focus...lol

[2020-06-08 12:24] 123Venom commented on #140
@ Tikepete

Check me for client module change I'm doing but where you have

# try:
	# import HTMLParser

I have

try:
	from HTMLParser import HTMLParser

[2020-06-08 12:56] Tikipeter commented on #140
Yep, stuff up by your truly. I will make a pull request with a fix ASAP.

[2020-06-08 13:23] 123Venom commented on #140
shit happens brother.  You should see how many times I release a change to only release a fix for the fix..lol.  I'm the syntax error king!

[2020-06-08 13:37] 123Venom commented on #140
and here's a list of scrapers lost to cloudflare v2 challenge thus far, and growing.

123movies
123movieshubz
fmovies
gomoviesonl
timewatch
rapidmoviez
tvdownloads
torrentz

mvrls was removed but site is dead and gone.
seriesonline was removed, but hCaptcha

prior updates removed others but allot of free hosters going wild javascript that I'm incapable of dealing with.

[2020-06-08 16:12] Tinuz97 commented on #140
Revert fixed it (version 0.0.2.004), thx.

[2020-06-08 19:57] marson53 opened #142 "Using proxy sites"
With being in the UK I have to use a lot of proxy sites to get torrents to scrape ,I used this  https://limetorrents.unblockit.me/  with openscrapers and others that used to work , but have stopped working sometime ago, is this because of cloudfare v2 change

[2020-06-08 21:12] bjbca commented on #142
why not use a vpn provider, expressv** is a good one, there are cheaper but you get what you pay for some times...

[2020-06-10 01:17] bjbca commented on #140
Just thought I would check in and offer up some praise for the great support from @123Venom and @Tikipeter , thanx for the endless hrs you guys pour into this stuff ;) im sure there are a tone of people out there who enjoy your efforts 👍

[2020-06-10 03:38] bjbca commented on #142
Also.. doesnt premiumize have a built in vpn service for paid account, that gets 2 birds with one stone ... a debrid type service that provides cached torrents and a vpn at same time.

[2020-06-11 20:12] #140 closed

[2020-06-11 20:14] #138 closed

[2020-06-12 16:40] 123Venom opened #143 "SEEHD lost to v2 challenge"
Cloudflare v2 challenge has taken another from us.  Will be removed in next update.

[2020-06-14 00:21] bjgood commented on #143
yeah, doesn't look good. Venomous has put this hobby of ours in a hard spot.
Hopefully, someone will step forward to keep cfscrape free. But I would like to know how much he's asking.
Later. And thanks for all your hard work, dude.

[2020-06-15 16:47] bjgood commented on #143
Someone posted a supposed pricing structure for Venomous cloudscraper service. If that's what he's wanting (per month) then it's way over what I'm willing to pay.
Later...

[2020-06-15 17:41] 123Venom commented on #143
That's been about the general consensus I'm hearing as well.  Waiting things out to see how ugly it may or may not get.  Only torrent site I've seen go to the new cloudflare v2 challenge thus far is torrentz2, so I'm not crying just yet.

[2020-06-21 20:59] k2-br opened #144 "documentation for developing new scrapers"
Hello, I have been developing some scrapers using Bsoup for a while. I am interested in developing scrapers capable of being integrated with openscrapers. Is there documentation with clear instructions on how to develop scrapers to your pattern?

[2020-06-22 01:19] bjbca commented on #144
seems like something @123Venom could answer

[2020-06-22 02:41] 123Venom commented on #144
No real documentation.  Review current scrapers as a template and dive in.

[2020-06-22 03:03] k2-br commented on #144
@123Venom, Is there a way to get the movie titles in pt-BR (Brazilian Portuguese) to search? Or only PT (Portugal)?

[2020-06-23 21:19] A4K-Official commented on #134
we honestly havent updated other language scrapers in some time, maybe sometime in the future we can though

[2020-06-24 18:10] 123Venom commented on #137
I have an idea.  How about doing a PR and updating all the foreign scrapers to then utilize this new function...then we elect you to take control of the foreign scrapers?  Nobody wants to deal with them, and frankly I don't have the time myself.  This would be a great help to the OpenScrapers project!!  If you decide to do this just please touch base with @Tikipeter as I believe he's doing an upda

[2020-06-24 18:42] 123Venom commented on #134
Little correction to this. The OpenSSL version in the Kodi 18 library is 1.0.2.  With that said until Kodi 19 comes along there's no update we can do to fix this.  That log error comes from cfscrape's OpenSSL version check.

[2020-06-29 00:11] #143 closed

[2020-06-29 00:12] #135 closed

[2020-06-29 16:51] rich333 opened #146 "show Easynews & Furk links as 'Premium'"
Currently Easynews & Furk results are treated as 'direct' sources by addons, this is a problem if using the 'use debrid only' filter (and possibly other sorting/filtering options).

Solution would be to consider these links 'premium' along with torrent/debrid rather than the 'free' links.

[2020-06-29 17:25] 123Venom commented on #146
curious why turn on 'use debrid only' in an addon and then want non Premium links to show?  You could turn that option off and then turn off all free hosters and accomplish what you want.  Personally I do not use that option as a couple free hosters are worthy for hard to find older shows, like the episode/series only hosters.

[2020-07-05 15:59] rich333 commented on #146
I was under the assumption that the 'hosters' section has some providers that provide both free & debrid links (as opposed to 'debrid only'), so have not been turning them all off.

Would be ideal if the filter allowed only premium links (torrents/debrid) + easynews/furk to show. the other free links do not work due to my location/network and always buffer. the problem is that to display easynews/

[2020-07-06 18:47] Tikipeter commented on #146
@rich333

Unfortunately, there is not much that can be done to fix this issue.

All these issues revolving around specific highlights, position in the results, and specific filtering etc for Furk/Easynews are all dependent on the add-on accessing Openscrapers, rather than openscrapers itself.

Openscrapers only returns the results for each scraper that is activated.

There could be a 'premium' key

[2020-07-12 05:09] FalconEagleTest opened #147 "cloudflare is down again...."
hi,
first of all great addon, THANKS.
but i can see that the cloudflare is down again...
can you take alook?
thanks.

[2020-07-14 14:17] bjgood commented on #147
I've got good news and bad news for you. The bad news is some of the sources that openscraper uses have and are switching to a new cloudflare version 2 approach. The good news is some of them are switching back to regular cloudflare because version 2 is too complicated and is scaring off visitors to the source site.
I personally felt this would happen after the first time I experienced cloudflare

[2020-07-26 08:09] #137 closed

[2020-07-31 06:10] #146 closed

[2020-07-31 06:10] #118 closed

[2020-07-31 06:10] #134 closed

[2020-07-31 06:10] #142 closed

[2020-07-31 06:10] #144 closed

[2020-07-31 06:10] #147 closed

[2020-09-03 16:34] marson53 opened #148 "Filepursuit Scraper"
Hi just wanted to know if the Filepursuite Scraper still works
I have got the  api key from azharxes but not sure where to put the api key
Can you help ... Thanks

[2020-09-03 21:53] 123Venom commented on #148
yes still works.  Go to accounts page..top item.

[2020-09-09 17:30] marson53 commented on #148
Thanks for the info, Finally I got it working

[2020-09-09 19:27] 123Venom commented on #148
good deal

[2020-09-09 19:27] #148 closed

[2021-01-07 18:54] sergio49 opened #149 "cfscrape not maintained anymore"
Hi,

It seems cfscrape is not maintained anymore and is unable to bypass new cloudflare filtering. (IAM Error)

Would it be possible to integrate another version. I found this one which seems to work :
https://github.com/VeNoMouS/cloudscraper

Thanks and thank you for your great work

[2021-01-08 20:27] 123Venom commented on #149
lol..cfscrape is Venomous's cloudscraper.  It's just a folder name change we did.  The version in openscrapers is 1.2.46 while Venomous's latest is 1.2.52.  I'm not so sure Venomous did any IUAM challenge changes in those versions.  Allot of what he changed what to the paid solve services.  Openscrapers has not been maintained in a spell.  Are you using Exodus Redux?  That's the only addon I belie

[2021-01-15 22:21] #149 closed, assigned to nobody

[2022-08-20 13:24] Arthur1967 opened #150 "Imdb"
I have an IMDb account But I can figure out how to authorize it it's not like adding your list URL can you tell me how please thank you

[2022-08-22 01:09] 123Venom commented on #150
I think you posted this to the wrong place.  OpenScrapers has been dead for a couple years now and it never had any IMDb account capabilities either.

[2022-08-22 01:09] #150 closed, assigned to nobody

[2022-08-22 01:10] Arthur1967 commented on #150
Ok thanks

On Sun, Aug 21, 2022 at 9:09 PM Venom ***@***.***> wrote: